<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div id="c">La circonferenza misura: </div>
    <div id="a">L'area misura: </div>


    <script>
        var raggio = Number(prompt("Inserisci raggio"))

        var circonferenza = 2 * raggio * Math.PI

        var area = Math.PI * Math.pow(raggio, 2)


        c.innerHTML = "La circonferenza misura:" + circonferenza
        a.innerHTML = "L'area misura: " + area
    </script>
</body>

</html>